@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #f7f3e9;
    box-shadow: 0 1.5px 3px rgb(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Logo section */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #005b7f;
}

.header-logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

h1 {
    font-family: Cormorant Garamond;
    font-size: 40px;
}

/* Navigation */
nav {
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 21px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* Buttons */
.nav-buttons {
    display: flex;
    gap: 1rem;
}

#booking {
    color: white;
    background-color: #006f9b;
    font-size: 21px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#booking:hover {
    background-color: #0283b6;
}

#login-button{
    color: #0c678b;
    background: none;
    font-size: 21px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 15px;
    border: 0.5px solid black;
    cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 101;
    transition: transform 0.3s ease;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburger active -> X */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* ===== Responsive ===== */
/* Mobile menu */
@media(max-width: 768px) {
    header {
        padding: 1em 15px;
        box-shadow: 0 1.5px 3px rgb(0,0,0,0.3);
        top: 0;
        margin-bottom: 5px;
    }
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 200px;
        gap: 0;
        max-height: 0;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: max-height 0.4s ease;
    }

    nav.active {
        max-height: 500px; /* Adjust based on menu size */
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-logo img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    header h1{
        font-size: 20px;
    }
    .hamburger {
        display: flex;
        align-items: flex-end;
        position: relative;
    }
}